.label {
    -fx-font-family: "Optima";
}

/*Text Field Style*/
.text-field {
    -fx-font-family: "Optima";
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
    -fx-border-width: 0.5px;
    -fx-border-color: #fce188;
    -fx-effect: dropshadow(three-pass-box, #524314, 2, 0, 0, 0);
}

/*Text Area Style*/
.text-area {
    -fx-font-family: "Optima";
    -fx-border-width: 0px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area .content{
      -fx-font-family: "Optima";
      -fx-background-color: black;
      -fx-text-fill: white;
      -fx-opacity: 0.8;
      -fx-border-width: 0.5px;
      -fx-border-color: #fce188;
  }


/*Date Picker Style*/
.calendar-grid {
    -fx-background-color: #dbbc8a;
    -fx-font-family: "Optima";
}

.date-picker-popup {
    -fx-font-family: "Optima";
    -fx-text-fill: white;
    -fx-background-color: #fce188;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
    -fx-alignment: CENTER; /* VBox */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.date-picker .cell:hover {
	-fx-background-color: gray;
}

.date-picker .selected {
	-fx-background-color: #7f0909;
	-fx-text-fill: white;
}

.date-picker-popup > .month-year-pane {
    -fx-base: #1d1d1d ;
    -fx-mark-highlight-color: -fx-light-text-color ;
}